/* @import - quando existem, devem ser o primeiro item de um arquivo CSS. */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* 
    CSS Reset

    * = reseta todos os elementos da pagina.

*/
*{
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #550000;
    padding: 10px 20px;
}
nav ul li {
    display: inline-block; /* codigo para deixar a lista horizontal */
    margin: 10px;
    font-family: Raleway, Calibri, Arial, serif;
}
nav {
    background-color: #FF7F2A;
    text-align: right;
    color: #FFFFFF;
}