* {
    font-family: Calibri, Arial, sans-serif;
}

.galeria {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

figure {
    width: 150px;
    padding: 20px;
    border: 1px solid navy;
    background-color: lightblue;
}

figcaption {
    font-size: 80%;
    font-style: italic;
    text-align: center;
}